<!doctype html>
<html ng-app="provaApp">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.css" />
</head>

<body>

	<div ng-controller="provaController as provaC">
		<h2>Atividade Prefeitura</h2>
		<!-- <ul ng-repeat="tipos in data"><li>{{tipos[data].features.properties.Type}}</li></ul> -->
		
		<form name="featureForm" class="form-horizontal">
		<br />
<!-- 		<select ng-model="property.Type" ng-options="property.properties.Type for property in properties">
			<option value="">Selecione a opção</value>
		</select> -->

		<select ng-model="propriedade.Type">
			<option value="">Selecione a opção</value>
			<option value="Ciclovia">Ciclovia</value>
			<option value="Ciclofaixa Móvel">Móvel</value>
			<option value="Ciclofaixa">Ciclofaixa</value>
			<option value="Rota">Rota</value>
		</select>
		
		<button ng-click="isProperty(propriedade)">Verificar</button>
		<p>{{teste}}</p>
		<ul ng-repeat="ender in endereco">
			<li>{{endereco.Name}}</li>
			<li>{{endereco.Description}}</li>
			<li>{{ender.Description}}</li>
		</ul>
		</form>
		<br />
		<br />
		<table border="1px">
			<thead>
				<tr>
					<th>Id:</th>
					<th>Escolhido:</th>
					<th>Endereço:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{property.Type.id}}</td>
					<td>{{property.Type.properties.Type}}</td>
					<td>{{property.Type.properties.Name}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="angular.js"></script>
	<script src="indexProva.js"></script>
</body>
</html>