
	<header>
		<h1>Logo</h1>
	</header>
	<section>
		<article>
			<header>
				<h1>Title header article Home</h1>
			</header>
				<p>Paragraph</p>
				<footer>
					<p>Footer article</p>
				</footer>
		</article>
	</section>
	<footer>Footer Page</footer>