*{margin: 0; padding: 0; border: 0;}

.container{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items:center;
	width: 100vw;
	height: 100vh;
}

form{
	width: 25vw;
	min-height: 10vh;
	background-color: hsl(25,100%,50%);
	color: #fff;
	font-family: courier;
	font-weight: bold;
	padding: 10px;
}

#teste{
	background-color: pink;
}