#video{
	width: 720px;
	margin:20px auto;
	background:#FFFF00;
	padding: 5px;
	border: 2px solid #FF8000;
	border-radius: 8px;
}

nav{
	margin: 5px 0;
}

.buttons{
	float: left;
	width: 100px;
	height: 20px;
}

.bar{
	background-color: #fff;
	width: 600px;
	height: 16px;
	border: 1px solid #666;
	padding: 3px;
	margin-left: 80px;
}

.progress{
	position: absolute;
	width: 0px;
	height: 16px;
	background: rgba(0,0,150,2);
}