<!DOCTYPE html>
<html ng-app="product">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Class-1</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">

</head>
<body ng-controller="productController">


<hr>

<label for="">Any: <input ng-model="search.$"></label><br>
<label for="">Nome apenas: <input ng-model="search.nome"></label><br>
<label for="">Telefones apenas: <input ng-model="search.telefone"></label><br>

<table>
	<tr>
		<th>Name: </th>
		<th>Telefone: </th>
	</tr>
	<tr ng-repeat="contato in contatos | filter:search:strict">
		<td>{{contato.nome}}</td>
		<td>{{contato.telefone}}</td>
	</tr>
</table>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-messages.js"></script>
<script src="app-class1.js"></script>
<script src="js/productController.js"></script>
</body>
</html>